# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*$py.class

*.jpg
*.png

*.html
*.rss
*.txt
tmdb_auth.py
pseudo.txt
ratio_tester.py
__pycache__/fetch_data.cpython-312.pyc
grid_size_algorithm_notes.md
